$primary: #ff3b09;
$primary-button: linear-gradient(90deg, #ff6100, #cb0080);
$primary-light: #F2F7F8;
$light-dark: #374151;
$text-color: #111827;
$text-color-primary: #515661;
$text-color-light: #515661;

// for toggle theme button
$page-color-transition: transparent .2s ease, color .2s ease;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$font-family: 'Montserrat', sans-serif;